@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.fondo{
    background-image: url(../img/fondo\ 2.jpeg);
}

/*Inicio del Index*/

.logo{
    margin-left: 15px;
}

.nav-img-logo{
    width: 45%;
}

.nav-navegacion{
    margin-right: 15px;
}



.card-bg{
    background-color: #d6ccc2;
}

.card-width{
    width: 80%;
    margin-left: 27px;
}

.card-title{
    font-weight: 900;
}

/*Fin del index*/

/*Footer*/
footer{
    width: 100%;
    display: flex;
    align-items: center;
}

.imagenes-footer{
    margin-left: 20px;
}

.img-footer{
    padding: 10px;
    width: 3%;
}

.extra{
    color: white;
    margin-right: 20px;
}
/*Fin del Footer*/



/*Seccion registrarse*/
 .form{
    width: 25%;
 }
/*Fin Seccion registrarse*/

/*Indumentaria*/

 .cartelera{
    width: 100%;
    text-align: center;
    color: white;
    text-wrap: 10px;
 }

/*Indumentaria*/

/*Inicio de la seccion Historia*/
  

  .historia-card-cabecera{
  
    display: flex;
    align-items:center ;
    margin-bottom: 15px;
    gap: 10px;

  }

  .historia-card-cabecera-titulo{
    margin-left: 10px;
  }

  .historia-card-cabecera-escudo{

    width: 2%;

  }


  .historia-card-cuerpo-estadio{
    margin-bottom: 40px;

  }

  .historia-card-cuerpo-texto{
    margin-top: -5px;
    font-size:20px;
    text-align: justify;
  }

/*Inicio de la seccion Historia*/

/*Inicio de responsive*/

@media (width < 1520px){
    .img-footer{
        width: 4%;
    }

    .form{
        width: 30%;
     }
}

@media (width < 1200px){
    .img-footer{
        width: 5%;
    }

    .form{
        width: 35%;
    }

}

@media (width < 992px){
    .historia-card-cuerpo-estadio{
        width: 100%;
        margin-bottom: 12px;
    }

    .historia-card-cabecera-escudo{
        width: 4%;
    }

    .form{
        width: 40%;
     }
}

@media (width < 830px){
    .img-footer{
        width: 8%;
    }

    .form{
        width: 50%;
    }


    .historia-card-cabecera-escudo{

        width: 5%;
    
      }

      .historia-card-cuerpo-estadio{
    
        margin-bottom: 10px;
    
      }
    
}

@media (width < 768px){
    .tarjetas{
        width: 80%;
    }

    .historia-card-cuerpo-texto{
        font-size: 17px;;
    }

    .form{
        width: 50%;
     }

     .img-footer{
        width: 10%;
     }
}

@media (width < 521px){
    .img-footer{
        width: 13%;
    }

    .form{
        width: 80%;
    }



    .historia-card-cuerpo-texto{
        font-size: 14px;
        margin-left: 20px;
    }

    .historia-card-cabecera-escudo{
        width: 7%;
    }

    .historia-card-cabecera-titulo{
        margin-left: 30px;
    }

    .historia-card-cuerpo-estadio{
        margin-left: 20px;
    }
}

@media (width < 420px){
    .tarjetas{
        width: 100%;
    }
    .img-footer{
        width: 15%;
    }

    .form{
        width: 90%;
        margin-left: auto;
     }
}


/*Fin de responsive*/





