@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.fondo {
  background-color: #a5a5a5;
}

nav {
  font-family: "Raleway", sans-serif;
}
nav .logo {
  margin-left: 15px;
}
nav .nav-img-logo {
  width: 45%;
}
nav .nav-navegacion {
  margin-right: 15px;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
}
footer .imagenes-footer {
  margin-left: 20px;
}
footer .img-footer {
  padding: 10px;
  width: 3%;
}
footer .extra {
  color: white;
  margin-right: 20px;
}

.form {
  width: 25%;
}

.card {
  width: 80%;
  margin-left: 27px;
  font-family: "Raleway", sans-serif;
  color: white;
}
.card .card-bg {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
.card .card-title {
  font-weight: 600;
}

.cartelera {
  font-family: "Comfortaa", sans-serif;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 900;
  text-wrap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.historia-card .historia-card-cabecera {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}
.historia-card .historia-card-cabecera-titulo {
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
}
.historia-card .historia-card-cabecera-escudo {
  width: 2%;
}
.historia-card .historia-card-cuerpo-estadio {
  margin-bottom: 40px;
}
.historia-card .historia-card-cuerpo-texto {
  margin-top: -5px;
  font-size: 20px;
  text-align: justify;
  font-family: "Raleway", sans-serif;
}

@media (width < 1520px) {
  footer .img-footer {
    width: 4%;
  }
  .form {
    width: 30%;
  }
}
@media (width < 1200px) {
  .img-footer {
    width: 5%;
  }
  .form {
    width: 35%;
  }
}
@media (width < 992px) {
  .historia-card .historia-card-cuerpo-estadio {
    width: 100%;
    margin-bottom: 12px;
  }
  .historia-card .historia-card-cabecera-escudo {
    width: 4%;
  }
  .form {
    width: 40%;
  }
}
@media (width < 830px) {
  footer .img-footer {
    width: 8%;
  }
  .form {
    width: 50%;
  }
  .historia-card .historia-card-cabecera-escudo {
    width: 5%;
  }
  .historia-card .historia-card-cuerpo-estadio {
    margin-bottom: 10px;
  }
}
@media (width < 768px) {
  .tarjetas {
    width: 80%;
  }
  .historia-card .historia-card-cuerpo-texto {
    font-size: 17px;
  }
  .form {
    width: 50%;
  }
  footer .img-footer {
    width: 10%;
  }
}
@media (width < 521px) {
  footer .img-footer {
    width: 13%;
  }
  .form {
    width: 80%;
  }
  .historia-card .historia-card-cuerpo-texto {
    font-size: 14px;
    margin-left: 20px;
  }
  .historia-card .historia-card-cabecera-escudo {
    width: 7%;
  }
  .historia-card .historia-card-cabecera-titulo {
    margin-left: 30px;
  }
  .historia-card .historia-card-cuerpo-estadio {
    margin-left: 20px;
  }
}
@media (width < 420px) {
  .tarjetas {
    width: 100%;
  }
  footer .img-footer {
    width: 15%;
  }
  .form {
    width: 90%;
    margin-left: auto;
  }
}

/*# sourceMappingURL=main.css.map */
