@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.fondo {
  background-color: #a5a5a5;
}

.titulo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: -50px;
}
.titulo h1 {
  color: #fff;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px, 0 0 20px #48cae4, 0 0 40px #48cae4, 0 0 80px #48cae4, 0 0 120px #48cae4;
}

.titulo-historia {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: -10px;
}
.titulo-historia h1 {
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px, 0 0 20px #48cae4, 0 0 40px #48cae4, 0 0 80px #48cae4, 0 0 120px #48cae4;
}

.titulo-index {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.titulo-index h1 {
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  text-align: center;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px, 0 0 20px #48cae4, 0 0 40px #48cae4, 0 0 80px #48cae4, 0 0 120px #48cae4;
}

nav {
  font-family: "Raleway", sans-serif;
}
nav .logo {
  margin-left: 15px;
}
nav .nav-img-logo {
  width: 45%;
}
nav .nav-navegacion {
  margin-right: 15px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .imagenes-footer .img-footer {
  padding: 10px;
  width: 52px;
}
footer .imagenes-footer .img-footer:hover {
  transform: rotateY(360deg);
  transition: all 2s;
}
footer .extra {
  color: white;
  margin-right: 20px;
}
footer .extra ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}
footer .extra ul li {
  list-style-type: none;
}
footer .extra ul li a {
  color: white;
  text-decoration: none;
}
footer .extra ul li a:hover {
  color: #e5e5e5;
}
footer .extra ul .text-largo {
  width: 150px;
}

.registro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registro .form {
  margin: auto;
  width: 31%;
}

.form {
  width: 25%;
}

.card {
  width: 80%;
  margin-left: 27px;
  font-family: "Raleway", sans-serif;
  color: white;
}
.card:hover {
  box-shadow: 0px 1px 10px lightgray, 0px -1px 10px lightgray, 1px 0px 10px lightgray, -1px 0px 10px lightgray;
  transform: translateY(2px);
}
.card .card-bg {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
.card .card-title {
  font-weight: 600;
}

.cartelera {
  font-family: "Comfortaa", sans-serif;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 900;
  text-wrap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.historia-card {
  margin-top: 20px;
}
.historia-card .historia-card-cabecera {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}
.historia-card .historia-card-cabecera-titulo {
  margin-left: 10px;
  font-family: "Raleway", sans-serif;
}
.historia-card .historia-card-cabecera-escudo {
  width: 2%;
}
.historia-card .historia-card-cuerpo-estadio {
  margin-bottom: 40px;
}
.historia-card .historia-card-cuerpo-texto {
  margin-top: -5px;
  font-size: 20px;
  text-align: justify;
  font-family: "Raleway", sans-serif;
}

.error {
  margin: 0px;
  padding: 0px;
  background-image: url("../img/fondo-404.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error .cont {
  display: flex;
  flex-direction: column;
  font-size: 200px;
  font-family: "Quattrocento", serif;
}
.error .cont div {
  display: flex;
  margin-bottom: 30px;
}
.error .cont .pelota {
  width: 40%;
  margin-right: -25px;
  margin-left: -37px;
}
.error .cont p {
  display: flex;
  justify-content: center;
  font-size: 25px;
  margin-left: -264px;
}
.error .cont .boton-home {
  width: 61%;
  display: flex;
  justify-content: center;
}
.error .cont .boton-home button {
  width: 110px;
  height: 35px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 16px;
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
.error .cont .boton-home button a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.error .cont .boton-home button:hover {
  box-shadow: 0px 0px 5px;
}

.messi-img {
  margin-left: -246px;
  border-radius: 10px;
}

@media (width < 1520px) {
  footer .img-footer {
    width: 50px;
  }
  .registro .form {
    width: 30%;
  }
}
@media (width < 1200px) {
  .registro .form {
    width: 35%;
  }
}
@media (width < 992px) {
  header .tit {
    font-size: 31px;
  }
  .historia-card .historia-card-cuerpo-estadio {
    width: 100%;
    margin-bottom: 12px;
  }
  .historia-card .historia-card-cabecera-escudo {
    width: 4%;
  }
  .registro .form {
    width: 40%;
  }
  .error .cont {
    font-size: 160px;
  }
  .error .cont div {
    margin-bottom: 17px;
    margin-right: -57px;
  }
  .error .cont .pelota {
    width: 35%;
  }
  .error .cont p {
    font-size: 23px;
  }
  .error .cont .boton-home {
    width: 58%;
  }
  .messi-img {
    width: 35%;
  }
}
@media (width < 837px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (width < 830px) {
  footer .img-footer {
    width: 49px;
  }
  .registro .form {
    width: 50%;
  }
  .historia-card .historia-card-cabecera-escudo {
    width: 5%;
  }
  .historia-card .historia-card-cuerpo-estadio {
    margin-bottom: 10px;
  }
}
@media (width < 768px) {
  .tarjetas {
    width: 65%;
  }
  .historia-card .historia-card-cuerpo-texto {
    font-size: 17px;
  }
  .registro .form {
    width: 50%;
  }
  .error {
    flex-direction: column-reverse;
  }
  .error .cont {
    font-size: 120px;
  }
  .error .cont div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 17px;
  }
  .error .cont .pelota {
    width: 36%;
    margin-left: -22px;
    margin-right: -18px;
  }
  .error .cont p {
    font-size: 20px;
    margin-left: inherit;
  }
  .error .cont .boton-home {
    width: 100%;
  }
  .messi-img {
    width: 52%;
    margin-bottom: 15px;
    margin-left: inherit;
  }
}
@media (width < 596px) {
  .registro .form {
    width: 70%;
    margin-bottom: 131px;
  }
  footer .extra ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media (width < 521px) {
  .tarjetas {
    width: 87%;
  }
  header .tit {
    font-size: 25px;
  }
  footer .imagenes-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13px;
  }
  footer .imagenes-footer .img-footer {
    width: 49px;
  }
  .registro .form {
    width: 80%;
  }
  .historia-card .historia-card-cuerpo-texto {
    font-size: 14px;
    margin-left: 20px;
  }
  .historia-card .historia-card-cabecera-escudo {
    width: 7%;
  }
  .historia-card .historia-card-cabecera-titulo {
    margin-left: 30px;
  }
  .historia-card .historia-card-cuerpo-estadio {
    margin-left: 20px;
  }
  .error {
    flex-direction: column-reverse;
  }
  .error .cont {
    font-size: 120px;
  }
  .error .cont div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 17px;
  }
  .error .cont .pelota {
    width: 40%;
    margin-left: -22px;
    margin-right: -18px;
  }
  .error .cont p {
    font-size: 19px;
    margin-left: inherit;
  }
  .error .cont .boton-home {
    width: 100%;
  }
  .messi-img {
    width: 55%;
    margin-bottom: 15px;
    margin-left: inherit;
  }
}
@media (width < 420px) {
  header .tit {
    font-size: 19px;
  }
  .tarjetas {
    width: 100%;
  }
  footer .img-footer {
    width: 46px;
  }
  .registro .form {
    width: 85%;
    margin-left: auto;
  }
  .error {
    flex-direction: column-reverse;
  }
  .error .cont {
    font-size: 120px;
  }
  .error .cont div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 17px;
  }
  .error .cont .pelota {
    width: 42%;
    margin-left: -22px;
    margin-right: -18px;
  }
  .error .cont p {
    font-size: 20px;
    margin-left: inherit;
  }
  .error .cont .boton-home {
    width: 100%;
  }
  .messi-img {
    width: 63%;
    margin-bottom: 15px;
    margin-left: inherit;
  }
}

/*# sourceMappingURL=main.css.map */
