@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

$titulosFont:'Comfortaa', sans-serif;
$textosFont:'Raleway', sans-serif;



*{
    margin: 0px;
    padding: 0px;
}

.fondo{
   background-color: #a5a5a5;
}


.titulo{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -50px;

    h1{
        color: #fff;
        text-align: center;
        font-size: 3em;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-shadow: 0 0 10px,
                     0 0 20px #48cae4,
                     0 0 40px #48cae4,
                     0 0 80px #48cae4,
                     0 0 120px #48cae4,
                     
    }
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -50px;

    h1{
        color: #fff;
        text-align: center;
        font-size: 3em;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-shadow: 0 0 10px,
                     0 0 20px #48cae4,
                     0 0 40px #48cae4,
                     0 0 80px #48cae4,
                     0 0 120px #48cae4,
                     
    }
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -50px;

    h1{
        color: #fff;
        text-align: center;
        font-size: 3em;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-shadow: 0 0 10px,
                     0 0 20px #48cae4,
                     0 0 40px #48cae4,
                     0 0 80px #48cae4,
                     0 0 120px #48cae4,
                     
    }
}

.titulo-historia{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: -10px;

    h1{
        padding-left: 20px;
        padding-right: 20px;
        color: #fff;
        text-align: center;
        font-size: 3em;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-shadow: 0 0 10px,
                     0 0 20px #48cae4,
                     0 0 40px #48cae4,
                     0 0 80px #48cae4,
                     0 0 120px #48cae4,
                     
    }
}

.titulo-index{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    h1{
        padding-left: 20px;
        padding-right: 20px;
        color: #fff;
        text-align: center;
        font-size: 3em;
        font-weight: 600;
        letter-spacing: 0.1em;
        text-shadow: 0 0 10px,
                     0 0 20px #48cae4,
                     0 0 40px #48cae4,
                     0 0 80px #48cae4,
                     0 0 120px #48cae4,
                     
    }
}



//Inicio de la Nav

nav{
    
        font-family: $textosFont;
   

    .logo{
        margin-left: 15px;
    }
    
    .nav-img-logo{
        width: 45%;
    }
    
    .nav-navegacion{
        margin-right: 15px;
    }

}

//Fin de la Nav

//Inicio del Footer

footer{
    width: 100%;
    display: flex;
    align-items: center;

    .imagenes-footer{
        margin-left: 20px;
    }
    
    .img-footer{
        padding: 10px;
        width: 3%;

        &:hover{
            transform: rotateY(360deg);
            transition: all 2s;
        }
    }
    
    .extra{
        color: white;
        margin-right: 20px;
    }
}

//Fin del Footer

//Form
.form{
    width: 25%;
 }

 