@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

$titulosFont:'Comfortaa', sans-serif;
$textosFont:'Raleway', sans-serif;



*{
    margin: 0px;
    padding: 0px;
}

.fondo{
   background-color: #a5a5a5;
}

//Inicio de la Nav

nav{
    
        font-family: $textosFont;
   

    .logo{
        margin-left: 15px;
    }
    
    .nav-img-logo{
        width: 45%;
    }
    
    .nav-navegacion{
        margin-right: 15px;
    }

}

//Fin de la Nav

//Inicio del Footer

footer{
    width: 100%;
    display: flex;
    align-items: center;

    .imagenes-footer{
        margin-left: 20px;
    }
    
    .img-footer{
        padding: 10px;
        width: 3%;
    }
    
    .extra{
        color: white;
        margin-right: 20px;
    }
}

//Fin del Footer

//Form
.form{
    width: 25%;
 }