@media (width < 1520px){

    footer{
        .img-footer{
            width: 50px;
        }
    
    }

    .form{
        width: 30%;
     }
}

@media (width < 1200px){
    .form{
        width: 35%;
    }

}

@media (width < 992px){
    
   header{
    .tit{
        font-size: 31px;
    }
   }

    .historia-card{
        .historia-card-cuerpo-estadio{
            width: 100%;
            margin-bottom: 12px;
        }
    
        .historia-card-cabecera-escudo{
            width: 4%;
        }
    }
    

    .form{
        width: 40%;
     }

     .error{
        .cont{
            font-size: 160px;

            div{
                margin-bottom: 17px;
                margin-right: -57px;
            }

            .pelota{
                width: 35%;
            }

            p{
                font-size: 23px;
            }

            .boton-home{
                width: 58%;
            }
        }
     }
     .messi-img{
        width: 35%;
    }

}

@media (width < 863px){

    footer{

        .extra{
            margin-right: 80px;
            ul{
                flex-direction: column;
                justify-content: center;
            }
        }
    }
  
}

@media (width < 830px){
    footer{
        .img-footer{
            width: 49px;
        }
    }

    .form{
        width: 50%;
    }

    .historia-card{
        .historia-card-cabecera-escudo{

            width: 5%;
        
          }
    
          .historia-card-cuerpo-estadio{
        
            margin-bottom: 10px;
        
          }
    }
}

@media (width < 768px){
    .tarjetas{
        width: 65%;
    }

    .historia-card{
        .historia-card-cuerpo-texto{
            font-size: 17px;;
        }
    }

    .form{
        width: 50%;
     }

     .error{
        flex-direction: column-reverse;
        .cont{
            font-size: 120px;

            div{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 17px;
            }

            .pelota{
                width: 36%;
                margin-left: -22px;
                margin-right: -18px;
            }

            p{
                font-size: 20px;
                margin-left: inherit;
            }

            .boton-home{
                width: 100%;
            }
        }
     }
     .messi-img{
        width: 52%;
        margin-bottom: 15px;
        margin-left: inherit;
    }
}

@media (width < 671px){
    footer{
        .extra{
           ul{
            flex-direction: column;
           }
        }
    }
}

@media (width < 521px){
    
    .tarjetas{
        width: 87%;
    }

    header{
        .tit{
            font-size: 25px;
        }
       }

    footer{
        .imagenes-footer{
            margin-left: 50px;
            display: flex;
            flex-direction: column;
            .img-footer{
                width: 47px;
            }
    
        }
    }

    .form{
        width: 80%;
    }

    .historia-card{
        .historia-card-cuerpo-texto{
            font-size: 14px;
            margin-left: 20px;
        }
    
        .historia-card-cabecera-escudo{
            width: 7%;
        }
    
        .historia-card-cabecera-titulo{
            margin-left: 30px;
        }
    
        .historia-card-cuerpo-estadio{
            margin-left: 20px;
        }
    }

    .error{
        flex-direction: column-reverse;
        .cont{
            font-size: 120px;

            div{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 17px;
            }

            .pelota{
                width: 40%;
                margin-left: -22px;
                margin-right: -18px;
            }

            p{
                font-size: 19px;
                margin-left: inherit;
            }

            .boton-home{
                width: 100%;
            }
        }
     }
     .messi-img{
        width: 55%;
        margin-bottom: 15px;
        margin-left: inherit;
    }
}

@media (width < 420px){
    
    header{
        .tit{
            font-size: 19px;
        }
       }
    
    .tarjetas{
        width: 100%;
    }
    
    footer{
        .img-footer{
            width: 46px;
        }
    }

    .form{
        width: 90%;
        margin-left: auto;
     }

     .error{
        flex-direction: column-reverse;
        .cont{
            font-size: 120px;

            div{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 17px;
            }

            .pelota{
                width: 42%;
                margin-left: -22px;
                margin-right: -18px;
            }

            p{
                font-size: 20px;
                margin-left: inherit;
            }

           .boton-home{
            width: 100%;
           }
        }
     }
     .messi-img{
        width: 63%;
        margin-bottom: 15px;
        margin-left: inherit;
    }
}