.historia-card{

    margin-top: 20px;

    .historia-card-cabecera{
  
        display: flex;
        align-items:center ;
        margin-bottom: 15px;
        gap: 10px;
    
      }
    
      .historia-card-cabecera-titulo{
        margin-left: 10px;
        font-family: $textosFont;
      }
    
      .historia-card-cabecera-escudo{
    
        width: 2%;
    
      }
    
    
      .historia-card-cuerpo-estadio{
        margin-bottom: 40px;
      }
    
      .historia-card-cuerpo-texto{
        @include historia-text(-5px,20px,justify);
      }
}