.card{
    width: 80%;
    margin-left: 27px;

    .card-bg{
        background-color: #d6ccc2;
    }

    .card-title{
        font-weight: 900;
    }
}

.cartelera{
    width: 100%;
    text-align: center;
    color: white;
    text-wrap: 10px;
 }